/* universal background */
*{
    background-color: rgb(182, 174, 174);
}
/* first part (box) */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999; 
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
 /* each element ko bich ko distance */
input{
    width: 100%;
    margin-top: 60px ;
}
  /* color to submit btn */
.container input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
  }
   /* hover effect sumit button ko */
  .container input[type="submit"]:hover{
    background: #2691d9;
  }